  <nav class="w-25 text-start p-5  navbar navbar-expand-md  fixed-top">
    <div class="container">
        <ul class="container d-flex flex-column navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/ex01']" routerLinkActive="text-danger">Ex01</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/ex02']" routerLinkActive="text-danger">Ex02</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/ex03']" routerLinkActive="text-danger">Ex03</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/ex04']" routerLinkActive="text-danger">Ex04</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/ex05']" routerLinkActive="text-danger">Ex05</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/ex06']" routerLinkActive="text-danger">Ex06</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/ex07']" routerLinkActive="text-danger">Ex07</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/ex08']" routerLinkActive="text-danger">Ex08</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/ex10']" routerLinkActive="text-danger">Ex10</a>
          </li>
        </ul>
      </div>
  </nav>
